In [7]:
import pyspark
from pyspark.sql import SparkSession

In [8]:
spark = SparkSession.builder.getOrCreate()

In [9]:
# RDD (text: 'this is ssssssssssss') / DF (table schema) sql

In [10]:
sc = spark.sparkContext

In [11]:
rdd1 = sc.parallelize([1,2,3,4,5])
rdd1.collect()

[1, 2, 3, 4, 5]

In [13]:
import numpy as np 
data = np.arange (1,50)
data

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49])

In [14]:
rdd2 = sc.parallelize(data)
rdd2.take(10)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [15]:
def fun1 (x) :
    return x ** 2

fun1(3)

9

In [17]:
rdd3 = rdd2.map(fun1)
rdd3.take(10)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [18]:
rdd3 = rdd2.map(lambda x : x ** 2 )
rdd3.take(10)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# spark -> lazy algorithm

In [19]:
rdd4 = rdd2.map(lambda x : x + 5)
rdd5 = rdd4.map(lambda x : x / 2)
rdd6 = rdd5.map(lambda x : x - 15)

In [20]:
rdd6.take(10)

[-12.0, -11.5, -11.0, -10.5, -10.0, -9.5, -9.0, -8.5, -8.0, -7.5]

In [22]:
rdd7 = rdd2.map(lambda x : x + 5).map(lambda x : x / 2).map(lambda x : x - 15)
rdd7.take(10)

[-12.0, -11.5, -11.0, -10.5, -10.0, -9.5, -9.0, -8.5, -8.0, -7.5]

In [23]:
rdd2.take(10)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [25]:
rdd8 = rdd2.filter(lambda x : x % 2 == 0)    # True False
print(rdd8.collect())

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

In [26]:
rdd8 = rdd2.filter(lambda x : x % 2 == 0 and  x != 8)    # True False
print(rdd8.collect())

[2, 4, 6, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

In [27]:
rdd9 = rdd2.filter(lambda x : x % 2 != 0 and  x % 3 != 0  and x % 5 != 0 and x % 7 != 0)    # True False
print(rdd9.collect())

[1, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [28]:
rdd9.count()

12

In [29]:
rdd9.min()

1

In [30]:
rdd9.max()

47

In [31]:
rdd9.stdev()

13.74772708486752

In [32]:
rdd9.variance()

189.0

In [34]:
def fun2 (a , b) :
    return a + b
fun2(5,7)

12

[1, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]
1 + 11 = 12 + 13 = 25 + 17 ==== 312

In [35]:
rdd_reduce = rdd9.reduce(fun2)
rdd_reduce

312

In [36]:
rdd_file = sc.textFile("/data/egypt.txt")
rdd_file.collect()

['Egypt is a country in North Africa known for its ancient civilization and iconic monuments such as the Pyramids of Giza and the Sphinx. ',
 'The capital city, Cairo, is the largest in the Arab world and home to the Nile River, the longest river in the world. ',
 'Egypt has a rich cultural heritage blending Pharaonic, Greco-Roman, Islamic, and modern influences. ',
 'Tourism, agriculture, and the Suez Canal are major contributors to its economy.']

In [37]:
rdd_file.count()

4

In [40]:
rdd_splite  = rdd_file.map(lambda x : x.split())
print(rdd_splite.collect())

[['Egypt', 'is', 'a', 'country', 'in', 'North', 'Africa', 'known', 'for', 'its', 'ancient', 'civilization', 'and', 'iconic', 'monuments', 'such', 'as', 'the', 'Pyramids', 'of', 'Giza', 'and', 'the', 'Sphinx.'], ['The', 'capital', 'city,', 'Cairo,', 'is', 'the', 'largest', 'in', 'the', 'Arab', 'world', 'and', 'home', 'to', 'the', 'Nile', 'River,', 'the', 'longest', 'river', 'in', 'the', 'world.'], ['Egypt', 'has', 'a', 'rich', 'cultural', 'heritage', 'blending', 'Pharaonic,', 'Greco-Roman,', 'Islamic,', 'and', 'modern', 'influences.'], ['Tourism,', 'agriculture,', 'and', 'the', 'Suez', 'Canal', 'are', 'major', 'contributors', 'to', 'its', 'economy.']]

In [41]:
rdd_splite.count()

4

In [42]:
rdd_splite  = rdd_file.flatMap(lambda x : x.split())
print(rdd_splite.collect())

['Egypt', 'is', 'a', 'country', 'in', 'North', 'Africa', 'known', 'for', 'its', 'ancient', 'civilization', 'and', 'iconic', 'monuments', 'such', 'as', 'the', 'Pyramids', 'of', 'Giza', 'and', 'the', 'Sphinx.', 'The', 'capital', 'city,', 'Cairo,', 'is', 'the', 'largest', 'in', 'the', 'Arab', 'world', 'and', 'home', 'to', 'the', 'Nile', 'River,', 'the', 'longest', 'river', 'in', 'the', 'world.', 'Egypt', 'has', 'a', 'rich', 'cultural', 'heritage', 'blending', 'Pharaonic,', 'Greco-Roman,', 'Islamic,', 'and', 'modern', 'influences.', 'Tourism,', 'agriculture,', 'and', 'the', 'Suez', 'Canal', 'are', 'major', 'contributors', 'to', 'its', 'economy.']

In [43]:
rdd_splite.count()

72

In [44]:
rdd_egypt = rdd_file.map(lambda line : 'Egypt' in line) 
print(rdd_egypt.collect())

[True, False, True, False]

In [46]:
rdd_egypt = rdd_file.filter(lambda line : 'Egypt' in line) 
rdd_egypt.collect()

['Egypt is a country in North Africa known for its ancient civilization and iconic monuments such as the Pyramids of Giza and the Sphinx. ',
 'Egypt has a rich cultural heritage blending Pharaonic, Greco-Roman, Islamic, and modern influences. ']

In [50]:
rdd_splite.count()

72

In [53]:
stopword = ['the', 'in', 'or' , 'at' , 'on', 'and' , 'for']
rdd_splite_withoutSW = rdd_splite.filter(lambda word : word not in stopword)
rdd_splite_withoutSW.count()

55

In [54]:
rdd_splite.filter(lambda word : word not in stopword).count()

55

In [ ]:
1. Create an RDD from a list of numbers (1,30)
2. Find count of the Even number 
3. Find the maximum number
4. Filter only numbers greater than 15.
5. Multiply each number by 2 and show the results

In [ ]:
rdd_nums = sc.parallelize(np.arange(1,30))
rdd_nums.filter(lambda x : x % 2 == 0).count()
rdd_nums.max()
rdd_nums.filter(lambda x : x > 15).collect()
rdd_nums.map(lambda x : x * 2).collect()

In [60]:
student_data = [("Ahmed", 20), ("Mona", 25), ("Mona", 30), ("Shahd", 19), ("Shahd", 25), ("Khaled", 13)]

In [66]:
df = spark.createDataFrame(student_data, ["name", "age"])
df.show()

+------+---+
|  name|age|
+------+---+
| Ahmed| 20|
|  Mona| 25|
|  Mona| 30|
| Shahd| 19|
| Shahd| 25|
|Khaled| 13|
+------+---+

In [67]:
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: long (nullable = true)

In [68]:
df_groups = df.groupBy("name").avg("age")
df_groups.show()

+------+--------+
|  name|avg(age)|
+------+--------+
| Ahmed|    20.0|
|  Mona|    27.5|
| Shahd|    22.0|
|Khaled|    13.0|
+------+--------+

In [71]:
df_names = df.select("name",'age')
df_names.show()

+------+---+
|  name|age|
+------+---+
| Ahmed| 20|
|  Mona| 25|
|  Mona| 30|
| Shahd| 19|
| Shahd| 25|
|Khaled| 13|
+------+---+

In [73]:
import pyspark.sql.functions as f

In [81]:
df_groups = df.groupBy("name").agg(f.avg(f.col('age')).alias('Average Age')
                                   , f.max(f.col('age')).alias('Max Age')
                                   , f.min(f.col('age')).alias('Min Age') ,
                                   f.count(f.col('age')).alias('Count'))
df_groups.show()

+------+-----------+-------+-------+-----+
|  name|Average Age|Max Age|Min Age|Count|
+------+-----------+-------+-------+-----+
| Ahmed|       20.0|     20|     20|    1|
|  Mona|       27.5|     30|     25|    2|
| Shahd|       22.0|     25|     19|    2|
|Khaled|       13.0|     13|     13|    1|
+------+-----------+-------+-------+-----+

In [82]:
df_groups = df.groupBy("name").agg(f.avg(f.col('age')).alias('Average Age')
                                   , f.max(f.col('age')).alias('Max Age')
                                   , f.min(f.col('age')).alias('Min Age') ,
                                   f.count(f.col('age')).alias('Count')).where(f.col('Count') > 1)
df_groups.show()

+-----+-----------+-------+-------+-----+
| name|Average Age|Max Age|Min Age|Count|
+-----+-----------+-------+-------+-----+
| Mona|       27.5|     30|     25|    2|
|Shahd|       22.0|     25|     19|    2|
+-----+-----------+-------+-------+-----+

In [83]:
df_people = spark.read.json("/data/people.json")
df_people.show()

+----+------+
| age|  name|
+----+------+
|NULL| Ahmed|
|  30|  Mona|
|  19| Shahd|
|  19| Shahd|
|  25|Khaled|
+----+------+

In [85]:
df_employee = spark.read.csv("/data/employees.csv" , header = True)
df_employee.show()

+-----+-------+-----+
|   Id|   Name|Sales|
+-----+-------+-----+
| emp1|  Ahmed| NULL|
| emp2|   Sara|  210|
| emp3|   NULL|  345|
| emp4|   Hend| NULL|
| emp5|Mostafa|  380|
| emp6|   NULL|  150|
| emp7|   Omar|  290|
| emp8| Mariam| NULL|
| emp9|    Ali|  500|
|emp10|  Salma|  275|
+-----+-------+-----+

In [86]:
df_employee.printSchema()

root
 |-- Id: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sales: string (nullable = true)

In [90]:
schema = 'Id string, Employee_name string, Sales int'
df_employee = spark.read.csv("/data/employees.csv" , schema, header= False)
df_employee.show()

+-----+-------------+-----+
|   Id|Employee_name|Sales|
+-----+-------------+-----+
| emp1|        Ahmed| NULL|
| emp2|         Sara|  210|
| emp3|         NULL|  345|
| emp4|         Hend| NULL|
| emp5|      Mostafa|  380|
| emp6|         NULL|  150|
| emp7|         Omar|  290|
| emp8|       Mariam| NULL|
| emp9|          Ali|  500|
|emp10|        Salma|  275|
+-----+-------------+-----+

In [88]:
df_employee.printSchema()

root
 |-- Id: string (nullable = true)
 |-- Employee_name: string (nullable = true)
 |-- Sales: integer (nullable = true)

In [ ]:
df_employee.sort('Employee_name' ).show()

+-----+-------------+-----+
|   Id|Employee_name|Sales|
+-----+-------------+-----+
| emp3|         NULL|  345|
| emp6|         NULL|  150|
| emp1|        Ahmed| NULL|
| emp9|          Ali|  500|
| emp4|         Hend| NULL|
| emp8|       Mariam| NULL|
| emp5|      Mostafa|  380|
| emp7|         Omar|  290|
|emp10|        Salma|  275|
| emp2|         Sara|  210|
+-----+-------------+-----+

In [92]:
df_employee.sort('Employee_name', ascending = False ).show()

+-----+-------------+-----+
|   Id|Employee_name|Sales|
+-----+-------------+-----+
| emp2|         Sara|  210|
|emp10|        Salma|  275|
| emp7|         Omar|  290|
| emp5|      Mostafa|  380|
| emp8|       Mariam| NULL|
| emp4|         Hend| NULL|
| emp9|          Ali|  500|
| emp1|        Ahmed| NULL|
| emp3|         NULL|  345|
| emp6|         NULL|  150|
+-----+-------------+-----+

In [93]:
df_employee.sort('Employee_name', 'Sales').show()

+-----+-------------+-----+
|   Id|Employee_name|Sales|
+-----+-------------+-----+
| emp6|         NULL|  150|
| emp3|         NULL|  345|
| emp1|        Ahmed| NULL|
| emp9|          Ali|  500|
| emp4|         Hend| NULL|
| emp8|       Mariam| NULL|
| emp5|      Mostafa|  380|
| emp7|         Omar|  290|
|emp10|        Salma|  275|
| emp2|         Sara|  210|
+-----+-------------+-----+

In [94]:
df_employees_ifno = df_employee.select('ID', 'Employee_name').show()

+-----+-------------+
|   ID|Employee_name|
+-----+-------------+
| emp1|        Ahmed|
| emp2|         Sara|
| emp3|         NULL|
| emp4|         Hend|
| emp5|      Mostafa|
| emp6|         NULL|
| emp7|         Omar|
| emp8|       Mariam|
| emp9|          Ali|
|emp10|        Salma|
+-----+-------------+

In [95]:
df_employees_concat = df_employee.withColumn('Name_Sales', f.concat('id', 'Employee_name'))
df_employees_concat.show()

+-----+-------------+-----+-----------+
|   Id|Employee_name|Sales| Name_Sales|
+-----+-------------+-----+-----------+
| emp1|        Ahmed| NULL|  emp1Ahmed|
| emp2|         Sara|  210|   emp2Sara|
| emp3|         NULL|  345|       NULL|
| emp4|         Hend| NULL|   emp4Hend|
| emp5|      Mostafa|  380|emp5Mostafa|
| emp6|         NULL|  150|       NULL|
| emp7|         Omar|  290|   emp7Omar|
| emp8|       Mariam| NULL| emp8Mariam|
| emp9|          Ali|  500|    emp9Ali|
|emp10|        Salma|  275| emp10Salma|
+-----+-------------+-----+-----------+

In [99]:
df_employees_concat = df_employee.withColumn('Name_Sales', f.concat_ws('_', 'id', 'Employee_name'))
df_employees_concat.show()

+-----+-------------+-----+------------+
|   Id|Employee_name|Sales|  Name_Sales|
+-----+-------------+-----+------------+
| emp1|        Ahmed| NULL|  emp1_Ahmed|
| emp2|         Sara|  210|   emp2_Sara|
| emp3|         NULL|  345|        emp3|
| emp4|         Hend| NULL|   emp4_Hend|
| emp5|      Mostafa|  380|emp5_Mostafa|
| emp6|         NULL|  150|        emp6|
| emp7|         Omar|  290|   emp7_Omar|
| emp8|       Mariam| NULL| emp8_Mariam|
| emp9|          Ali|  500|    emp9_Ali|
|emp10|        Salma|  275| emp10_Salma|
+-----+-------------+-----+------------+

In [100]:
df_employee.show()

+-----+-------------+-----+
|   Id|Employee_name|Sales|
+-----+-------------+-----+
| emp1|        Ahmed| NULL|
| emp2|         Sara|  210|
| emp3|         NULL|  345|
| emp4|         Hend| NULL|
| emp5|      Mostafa|  380|
| emp6|         NULL|  150|
| emp7|         Omar|  290|
| emp8|       Mariam| NULL|
| emp9|          Ali|  500|
|emp10|        Salma|  275|
+-----+-------------+-----+

In [101]:
df_employee.na.drop().show()

+-----+-------------+-----+
|   Id|Employee_name|Sales|
+-----+-------------+-----+
| emp2|         Sara|  210|
| emp5|      Mostafa|  380|
| emp7|         Omar|  290|
| emp9|          Ali|  500|
|emp10|        Salma|  275|
+-----+-------------+-----+

In [102]:
df_employee.na.drop('any').show()

+-----+-------------+-----+
|   Id|Employee_name|Sales|
+-----+-------------+-----+
| emp2|         Sara|  210|
| emp5|      Mostafa|  380|
| emp7|         Omar|  290|
| emp9|          Ali|  500|
|emp10|        Salma|  275|
+-----+-------------+-----+

In [104]:
df_employee.na.drop('all').show()

+-----+-------------+-----+
|   Id|Employee_name|Sales|
+-----+-------------+-----+
| emp1|        Ahmed| NULL|
| emp2|         Sara|  210|
| emp3|         NULL|  345|
| emp4|         Hend| NULL|
| emp5|      Mostafa|  380|
| emp6|         NULL|  150|
| emp7|         Omar|  290|
| emp8|       Mariam| NULL|
| emp9|          Ali|  500|
|emp10|        Salma|  275|
+-----+-------------+-----+

In [107]:
df_employee.na.drop(thresh=3).show()

+-----+-------------+-----+
|   Id|Employee_name|Sales|
+-----+-------------+-----+
| emp2|         Sara|  210|
| emp5|      Mostafa|  380|
| emp7|         Omar|  290|
| emp9|          Ali|  500|
|emp10|        Salma|  275|
+-----+-------------+-----+

In [119]:
df_avg = df_employee.select (f.avg('Sales'))
sales_avg = df_avg.collect()[0][0]
sales_avg

307.14285714285717

In [118]:
df_employee.fillna(
    {
        'Employee_name' : 'Unknown',
        'Sales' : sales_avg
    }
).show()

+-----+-------------+-----+
|   Id|Employee_name|Sales|
+-----+-------------+-----+
| emp1|        Ahmed|  307|
| emp2|         Sara|  210|
| emp3|      Unknown|  345|
| emp4|         Hend|  307|
| emp5|      Mostafa|  380|
| emp6|      Unknown|  150|
| emp7|         Omar|  290|
| emp8|       Mariam|  307|
| emp9|          Ali|  500|
|emp10|        Salma|  275|
+-----+-------------+-----+